
/**********************************
 * Estilo do container principal
 **********************************/
 .profile-container {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding: 20px;
  gap: 20px; 
 }
/**********************************
 * Estilo do cabeçalho
 **********************************/
.profile-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.profile-title {
  margin: 0;
  font-size: 1.8rem;
  color: var(--purple-darker);
}

.gear-icon {
  font-size: 2rem;
  cursor: pointer;
  color: var(--purple-darker);
  transition: transform 0.2s ease;
}

.gear-icon:hover {
  transform: rotate(45deg);
}

/**********************************
 * Ajuste do avatar
 **********************************/
.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.avatar-image {
  width: 220px; 
  height: 220px;
  object-fit: contain;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 1.8rem;
  color: var(--purple-darker);
  font-weight: bold;
  text-align: center;
  margin: 0;
}

/**********************************
 * Botões abaixo do avatar
 **********************************/
.profile-buttons {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px; 
}

.profile-button {
  width: 80px; 
  height: 80px;
  border-radius: 50%; 
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple-darker);
  font-size: 2rem; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}


.award {
  background-color: var(--green);

}

.circle {
  background-color: var(--blue);
  
}
 

.dots {
  background-color: var(--orange);

}

.profile-button:hover {
  transform: scale(1.2); 
  color: #fff;
}


 
 