#tasksBody {
  position: relative;
}

.taskDivOp {
  position: relative;
}

.taskDiv {
  background-color: var(--orange-lighter);
  border: 2px solid var(--orange-dark);
  border-radius: 24px;
  padding: 2px 8px;
  width: 100%;
  font-size: 16px;
  box-sizing: border-box;
}

.taskWrap {
  transition: transform 0.3s ease-out;
  will-change: transform;
}

.taskWrap.swiped {
  transform: translateX(-210px); /* Move left */
}

.taskWrap.reset {
  transform: translateX(0); /* Move back */
}

.btnTaskGroup {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 8px;
}

.btnTask {
  background-color: var(--orange-light);
  border: var(--orange-dark) solid 2px;
  border-radius: 24px;
  padding: 12px 16px;
  box-sizing: border-box;
}

.taskDone {
  background-color: var(--orange-lighter);
  border: 2px solid var(--orange-dark);
  text-decoration: line-through;
}

.doneTask {
  background-color: var(--orange-dark);
  padding: 8px 12px;
  border-radius: 24px;
  color: var(--white);
  box-shadow: none;
  border: none;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 40px;
}

#tasksSpace {
  overflow-y: auto;
  max-height: 66vh;
  padding: 2px;
}

.badge {
  position: absolute;
  top: -8%;
  right: 6%;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  z-index: 0;
  pointer-events: none;
}

.badge-corner {
  position: absolute;
  top: 6%;
  right: 4%;
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
}

.taskTitle {
  margin: 10px 0px;
  width: 80%;
  font-weight: bold;
  text-align: left;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.header button {
  border: none;
  background-color: transparent;
}

.header > h1 {
  margin: 0px;
}

.sliders {
  width: 32px;
  height: auto;
  margin-bottom: 10px;
  background: none;
}

/** new task window */

#newTask {
  width: 65px; /* Ajusta o tamanho do botão */
  height: 65px;
  position: fixed;
  bottom: 120px;
  left: calc(50% - 32px);
  background-color: var(--purple);
  border: 0px solid var(--purple-dark);
  color: var(--purple-darker);
  font-size: 40px;
  cursor: pointer;
}

#newTask:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

#newTask i {
  font-size: 1.8rem; /* tamanho do ícone */

  color: var(--purple-darker); /* Ícone com contorno preto */
}

#textBtn {
  position: fixed;
  bottom: 120px;
  left: calc(
    50% + 32px + 60px
  ); /* 32px is half the width of newTask, plus 10px gap */
  background-color: var(--blue);
  color: var(--white);
  font-size: 40px;
  cursor: pointer;
}

#textBtn:hover {
  position: fixed;
  transform: scale(1.1);
  transition: 0.1s;
}

#newTask:active {
  background-color: var(--purple-dark); /* Catarina a mexer */
}

/* Ícone dentro do botão */
#textBtn i {
  font-size: 2rem; /* tamanho do ícone */
  color: var(--purple-darker); /* Ícone com contorno preto */
}

/* Ícone dentro do botão */
#newTask i {
  font-size: 2.5rem; /* tamanho do ícone */
  color: var(--white); /* Ícone com contorno preto */
}

#textBtn:active {
  background-color: var(--blue-dark); /* Catarina a mexer */
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

/** text messages window */

/** conclude task window */
#concludeTaskDiv {
  gap: 16px;
  flex-direction: column;
}

#proofImage {
  height: 50vh;
  width: 80%;
  border: 2px solid var(--purple);
  border-radius: 16px;
  object-fit: cover;
}

#proofImage div {
  position: relative;
  width: 100%;
  height: 100%;
}

#proofImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
}

.titleTask {
  border: 2px solid var(--blue);
  border-radius: 16px;
  padding: 8px;
}

#retakePhoto {
  position: absolute;
  right: -16px;
  bottom: -16px;
  background-color: var(--purple-dark);
  color: var(--white);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconRetake {
  width: 50px;
  height: auto;
  color: var(--purple-darker);
}

#infoUpload {
  font-size: 14px;
  color: var(--purple-dark);
}

/** verify task window  */
#btnGroupDiv {
  flex-direction: row;
  gap: 16px;
}

/** filter  */
#filter {
  background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border-radius: 24px;
  width: 160px;
  position: absolute;
  top: 50px;
  right: 24px;
  z-index: 2;
}

#filter button {
  background-color: var(--purple-light);
  font-size: 14px;
}

/* Estilo para o botão de filtros */
button[aria-label="Abrir filtro"] {
  background: none; /* Remove o fundo */
  border: none; /* Remove a borda */
  cursor: pointer; /* Adiciona o cursor de ponteiro */
  padding: 0; /* Remove o padding */
  margin-left: auto;
}

button[aria-label="Abrir filtro"] .sliders {
  font-size: 1rem; /* Ajuste o tamanho do ícone */
  color: var(--purple-darker); /* Cor do ícone */
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 5%;
}

.filter-button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: var(--purple-darker);
  transition: background-color 0.3s ease;
}

.filter-button.active {
  background-color: var(--purple-dark);
  color: white;
}

.divider {
  font-size: 1.5rem;
  color: var(--purple-darker);
}

.activeFilter {
  background-color: var(--orange-lighter) !important;
}

/** reject task  */
#rejectForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

#sendReject {
  margin-top: 40px;
  width: fit-content;
  align-self: center;
}

.flash {
  animation: blink 0.3s ease-in-out;
}

.gear-icon {
  margin-left: auto;
  font-size: 1.5rem;
  cursor: pointer;
}

@keyframes blink {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(70%);
    /* Escurece */
  }

  100% {
    filter: brightness(100%);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slideUp 0.4s ease-out forwards;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--orange-lighter);
  outline: 2px solid var(--orange-dark);
  margin: 10px 0;
  padding: 0 0 0 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.taskDescription {
  margin-top: 0px;
  text-align: left;
}

.task-item.expanded:not(.assignedTask) {
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  /* Encolhe horizontalmente */
  height: 120px;
  /* Expande verticalmente */
  background-color: var(--orange-lighter);
  position: relative;
}

.task-item.expanded {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  /* Encolhe horizontalmente */
  height: 120px;
  /* Expande verticalmente */
  background-color: var(--orange-lighter);
  position: relative;
}

.task-buttons {
  display: none;
  gap: 12px;
  margin-left: auto;
  margin-right: 16px;
}

.task-item.expanded .task-buttons {
  display: flex;
}

.task-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: var(--orange-lighter);
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.taskItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnTaskGroupVertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
}

.btnTaskCircle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnTaskCircle.reject {
  background-color: var(--purple);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.btnTaskCircle.conclude {
  background-color: var(--green);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.btnTaskCircle .icons {
  color: var(--purple-darker);
}

.load-more-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  margin-bottom: 150px;
}

.load-more-container-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}
