.questions-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  min-height: 100vh;
  z-index: 0;
  overflow: hidden;
  /* optional: avoids overflow when ::before is larger */
}

.questions-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../assets/imgs/YU_bolas/Ellipse 23.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.question-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  margin-top: 10px;
}

.question-desc {
  font-size: 15px;
  color: black;
  font-weight: lighter;
  margin-bottom: 35px;
}

.options-container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.option {
  padding: 15px;
  border-radius: 20px;
  background-color: var(--white);
  outline: 2px solid #b7b7b7;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 2px 0 2px 0;
  color: black;
}

.option.selected {
  background-color: var(--purple-lighter);
  outline: 3px solid var(--purple);
}

.continue-button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: #d3d3d3;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 400px;
}

.continue-button:not(.disabled) {
  background-color: var(--purple);
}

.continue-button.disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
