/* General Home Styles */

/** home  */
.homeContainer {
  /* background-color: aqua; */
  height: 100vh;
  margin-top: -40px;
  position: relative;
}

#backgroundDiv {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -50;
}

.mascotContainer {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  height: 60vh;
  align-items: end;
  transition: transform 0.3s ease-in-out;
}

/*? Yu Mascot */
.Yu {
  /* width: 50%; */
  height: 300px;
  width: auto;
  z-index: 2;
  display: block;
  margin-top: 20px auto;
  margin: 0 auto;
}

.mascotContainer.moveUp {
  transform: translateY(-20%); /* Adjust the value as needed */
}

.accessory {
  position: absolute;
  height: auto;
  left: 32px;
  bottom: -35px;
  width: 240px;
  z-index: 2;
}

/** closet amd store  */
.closetFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 5% 0 0 0;
}

.buttonMid {
  width: 50%;
  background-color: var(--purple);
  color: white;
  border-radius: 20px;
  height: 48px;
  box-shadow: 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.buttonRound {
  background-color: var(--purple);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  box-shadow: 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnHomeActive {
  background-color: var(--purple-dark);
}

/*? Avatar Styling */
.avatarheader {
  padding: 0px 16px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 1% 0 2% 0;
}

.avatarheader button {
  border: none;
  background: none;
}

.btnHomeHeader {
  background-color: transparent;
  border: none;
}

.avatarcontent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  height: 20vh;
  overflow-y: auto;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  justify-items: center;
}

.avatarcontent button {
  border: none;
  margin: 0;
  padding: 0;
}

.avatarItemDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatarItemDiv button {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
}

.avatarcircle {
  background-color: var(--purple-dark);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: -8px;
}

.colorLight {
  background-color: var(--purple);
}

button.avatarcircle.activeFit {
  background-color: var(--purple-lighter);
  border: 4px solid var(--purple-darker);
  box-sizing: border-box;
}

/** Home Lock Animation (only the closet should be affected) */
.home.locked .closet {
  transform: translateY(-100%);
  /* Slide the closet up */
}

.home.locked .closetOverlay {
  transform: translateY(0);
  /* Ensure the overlay stays fixed */
}

/** Row Layout */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 40px;
}

/** Closet Styles */

.closetContainer {
  background-color: var(--purple-lighter);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  /* max-width: 400px; */
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  text-align: center;
  position: fixed;
  bottom: 0px;
  /* margin: 0px -16px; */
  box-sizing: border-box;
  max-width: 600px;
}

/** Closet Overlay */
.closetOverlay {
  /* margin: 0px 20px; */
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  bottom: 0px;
}

/* Buttons Styles */
.ClassStar {
  display: flex;
  border-radius: 24px;
  justify-content: space-around;
  align-items: center;
  width: 91px;
  height: 42px;
  padding: 2px 4px;
}

.buttonsCloset {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 42px;
  padding: 2px 4px;
  border-radius: 24px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.closetHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

/* Button Icons */
.star {
  width: 25px;
  height: 24px;
  fill: none;
}

.icons {
  position: relative;
  /* Establish a positioning context for the dot */
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.dot {
  position: absolute;
  top: -10px;
  transition: transform 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
  width: 13px;
  height: 13px;
  background-color: var(--purple-dark);
  border-radius: 50%;
}

.storeOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.buttonRound.btnHomeActive:active,
.buttonMid.btnHomeActive:active {
  background-color: var(--purple-darker);
} /* catarina a mexer */

.ClassStar p {
  color: var(--purple-darker);
}

.closetIcon,
.storeIcon {
  width: 32px;
  height: 32px;
}

.ClassStar {
  display: flex;
  text-align: left;
}

.buttonsCloset {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre os botões */
  margin-left: auto; /* Empurra os botões para a direita */
}

.btnHomeHeader {
  background: none;
  border: none;
  cursor: pointer;
}
