/* General Home Styles */
/* .home {
  background-color: transparent;
  transition: none;
  No transition applied here
  width: 100%;
  height: 100vh;
  position: relative;
  Ensures the home takes up the entire height of the viewport
}

.homeContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  Full screen
  z-index: 0;
} */

/* Home Lock Animation (only the closet should be affected) */
.home.locked .closet {
  transform: translateY(-100%);
  /* Slide the closet up */
}

.home.locked .closetOverlay {
  transform: translateY(0);
  /* Ensure the overlay stays fixed */
}

/* Row Layout */
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Avatar Styling */
.avatarheader {
  padding: 5%;
  padding-bottom: 0%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.avatarcontent {
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
}
.avatarcircle {
  background-color: var(--purple-dark);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.colorLight {
  background-color: var(--purple);
}

/* Closet Styles */
/* .closet {
  position: absolute;
  top: 100%;
  Start below the screen
  left: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  z-index: 1001;
  Ensure closet is above other elements
  position: fixed;
  bottom: 0px;
} */

.closetContainer {
  background-color: var(--purple-lighter);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  width: 100%;
  /* max-width: 400px; */
  padding: 20px;
  position: relative;
  text-align: center;
  position: fixed;
  bottom: 0px;
  /* margin: 0px -16px; */
  box-sizing: border-box;
}

/* Closet Overlay */
.closetOverlay {
  /* margin: 0px 20px; */
  position: fixed;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  position: fixed;
  bottom: 0px;
}

/* Yu Mascot */
.Yu {
  /*justify-self: center !important;*/
  max-width: 277px;
  max-height: auto;
  z-index: 2;
  display: block;
}

/* Buttons Styles */
.buttonsHome,
.buttonsCloset {
  border-radius: 24px;
  background: var(--orange);
  display: flex;
  width: 91px;
  height: 42px;
  padding: 2px 4px;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.buttonsCloset {
  flex-direction: column;
}

/* Button Icons */
.star {
  width: 25px;
  height: 24px;
  fill: none;
}

.icons {
  position: relative;
  /* Establish a positioning context for the dot */
  cursor: pointer;
  padding: 5px;
  transition: transform 0.3s ease;
}

.dot {
  position: absolute;
  top: -10px;
  transition: transform 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
  width: 13px;
  height: 13px;
  background-color: var(--purple-dark);
  border-radius: 50%;
}