.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

label {
  display: block;
  font-size: 18px;
  margin-top: 26px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo-container {
  position: relative;
  width: 100%;
  /* Ensure it spans the necessary width */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  width: 277px; /*retirei max*/
  height: 191px; /*retirei max*/
  object-fit: contain; /* Para manter proporção */
  position: relative;
  /* Stays on top of the bolas */
  z-index: 2;
  display: block;
}

.bolas {
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  /* Behind the logo but above other elements */
  width: 100%;
  /* Span the entire container */
  height: auto;
  /* Maintain aspect ratio */
}

/*.form-container input{
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  z-index: 0;
  /* Ensure it's above the bolas 
  position: relative;
}*/

.form-input {
  border: 2px solid var(--purple-dark);
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-family: "Quicksand", serif;
  font-size: 16px;
}

.descriptionInput {
  height: 140px;
  resize: none;
}

.register-link {
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #be77ee;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px; /* Espaço para o ícone */
  box-sizing: border-box;
}

.password-toggle-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0;
}

.password-toggle-button img {
  width: 20px;
  height: 20px;
}
