.profile-header {
  display: flex;
  padding: 10px;
  width: 90%;
}

.profile-title {
  margin: 0;
  text-align: left;
}

.gear-icon {
  font-size: 1.5rem; /* Ajusta o tamanho do ícone conforme necessário */
  margin-left: 70%;  /*Espaço entre a palavra e o ícone */
}



