.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

label {
  display: block;
  font-size: 18px;
  margin-top: 26px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  max-width: 100%;
  height: auto;
  position: relative;
  /* Stays on top of the bolas */
  z-index: 2;
  display: block;
}

.bolas {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 50px;
  z-index: 1;
}

.form-container input {
  border: 2px solid var(--purple-dark);
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-family: "Quicksand", serif;
  font-size: 16px;
}

.buttonBig {
  margin-top: 98px;
  border-radius: 20px;
  color: white;
  border: none;
  cursor: not-allowed;
  transition: background 0.3s ease;
}

.buttonBig.active {
  background: #b49bc7;
  cursor: pointer;
}

.buttonBig:disabled {
  background-color: #bababa;
  opacity: 0.7;
}

.register-link {
  font-size: 14px;
  text-align: center;
}

.register-link a {
  color: #be77ee;
}

.alert {
  color: red;
}

.password-requirements {
  padding: 20px;
  margin: 0;
}

.password-requirements li {
  font-size: 14px;
  color: red;
}

.password-requirements li.valid {
  color: green;
}

.birthdate-container {
  display: flex;
  flex-direction: column;
}

.birthdate-inputs {
  /*border: 2px solid var(--purple-dark);*/
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-family: "Quicksand", serif;
  font-size: 16px;
}

/*.birthdate-inputs input {
  border: 2px solid var(--purple-dark);
  border-radius: 16px;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 16px;
  font-family: "Quicksand", serif;
  font-size: 16px;
}*/
