.taskDiv {
  background-color: var(--orange);
  border: 2px solid var(--orange-dark);
  border-radius: 24px;
  padding: 2px 4px;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.taskTitle {
  margin: 10px 0px;
  width: 80%;
}

#tasksBody {
  position: relative;
}

/** new task window */

#newTask {
  position: fixed;
  bottom: 120px;
  left: calc(50% - 32px);
  background-color: var(--purple-dark);
  color: var(--white);
  font-size: 40px;
}

#textBtn {
  position: fixed;
  bottom: 120px;
  right: 60px;
  background-color: var(--orange);
  color: var(--white);
  font-size: 40px;
}

#newTaskForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8px 24px;
  gap: 16px;
}

/** text messages window */

#textSpace {
  height: 60vh;
  margin: -16px 0px;
}
